# Import Packages

In [14]:
import pandas as pd

from utils import get_labels
from constants import JIO_MART_DATASET_PATH, GPC_PATH

In [15]:
df_gpc = pd.read_csv(GPC_PATH)

In [16]:
df_jio = pd.read_csv(JIO_MART_DATASET_PATH)

In [17]:
df_jio

,category,sub_category,product name,Segment,Family,Class,Brick
0,Groceries,Fruits & Vegetables,Fresh Dates (Pack) (Approx 450 g - 500 g),Food/Beverage,Fruits/Vegetables Fresh Cut,NaN,NaN
1,Groceries,Fruits & Vegetables,Tender Coconut Cling Wrapped (1 pc) (Approx 90...,Food/Beverage,Fruits/Vegetables Fresh Cut,NaN,NaN
2,Groceries,Fruits & Vegetables,Mosambi 1 kg,Food/Beverage,Fruits/Vegetables Fresh Cut,NaN,NaN
3,Groceries,Fruits & Vegetables,Orange Imported 1 kg,Food/Beverage,Fruits/Vegetables Fresh Cut,NaN,NaN
4,Groceries,Fruits & Vegetables,Banana Robusta 6 pcs (Box) (Approx 800 g - 110...,Food/Beverage,Fruits/Vegetables Fresh Cut,NaN,NaN
...,...,...,...,...,...,...,...
162275,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,Personal Accessories,Personal Accessories,Jewellery,NaN
162276,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162277,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162278,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162279,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,Personal Accessories,Personal Accessories,Jewellery,NaN

In [18]:
len(df_jio[df_jio["Class"].isna()])

106789

In [20]:
df_jio.dropna(subset=["Class"], inplace=True)

In [21]:
df_jio

,category,sub_category,product name,Segment,Family,Class,Brick
213,Groceries,Premium Fruits,Peach Sun Gold Premium Indian Pack 500 g,Food/Beverage,Fruits/Vegetables Fresh Cut,Fruits - Fresh Cut,NaN
214,Groceries,Premium Fruits,Plum Premium Indian Pack 500 g,Food/Beverage,Fruits/Vegetables Fresh Cut,Fruits - Fresh Cut,NaN
215,Groceries,Premium Fruits,Apricot Premium Indian Pack 500 g,Food/Beverage,Fruits/Vegetables Fresh Cut,Fruits - Fresh Cut,NaN
216,Groceries,Premium Fruits,Nectarine Yellow Flesh Premium Imported 1 Pc (...,Food/Beverage,Fruits/Vegetables Fresh Cut,Fruits - Fresh Cut,NaN
217,Groceries,Premium Fruits,Peach Yellow Flesh Premium Imported 1 Pc (Appr...,Food/Beverage,Fruits/Vegetables Fresh Cut,Fruits - Fresh Cut,NaN
...,...,...,...,...,...,...,...
162275,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,Personal Accessories,Personal Accessories,Jewellery,NaN
162276,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162277,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162278,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,Personal Accessories,Personal Accessories,Jewellery,NaN
162279,Jewellery,Fine Jewellery,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,Personal Accessories,Personal Accessories,Jewellery,NaN

In [22]:
df_jio = df_jio[["product name", "Segment", "Family", "Class"]]

In [24]:
df_jio["Segment"] = df_jio["Class"].apply(lambda x: df_gpc[df_gpc["ClassTitle"]==x]["SegmentTitle"].tolist()[0])
df_jio["Family"] = df_jio["Class"].apply(lambda x: df_gpc[df_gpc["ClassTitle"]==x]["FamilyTitle"].tolist()[0])

In [31]:
df_jio.rename(columns={
    "product name": "product_name",
    "Segment": "segment",
    "Family": "family",
    "Class": "class"
}, inplace=True)

In [32]:
classes = df_jio["class"].unique().tolist()
true_classes = df_gpc["ClassTitle"].unique().tolist()
get_labels(classes, true_classes)["incorrect_labels"]

[]

In [33]:
segments = df_jio["segment"].unique().tolist()
true_segments = df_gpc["SegmentTitle"].unique().tolist()
get_labels(segments, true_segments)["incorrect_labels"]

[]

In [34]:
families = df_jio["family"].unique().tolist()
true_families = df_gpc["FamilyTitle"].unique().tolist()
get_labels(families, true_families)["incorrect_labels"]

[]

In [36]:
df_jio.to_csv(JIO_MART_DATASET_PATH, index=False, encoding="utf-8-sig")